!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %title Loop Habit Tracker
    %link(rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="index.css")

  %body
    .navbar.navbar-expand-md.navbar-light.bg-light
      %a.navbar-brand(href="#")
        %b Loop
        Habit Tracker
      %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
          %li.nav-item
            %a.nav-link(href="#") Features
          %li.nav-item
            %a.nav-link(href="#") Screenshots
          %li.nav-item
            %a.nav-link(href="#") FAQ
          %li.nav-item
            %a.nav-link(href="#") Privacy
          %li.nav-item
            %a.nav-link(href="#") Source Code

    .jumbotron.jumbotron-fluid
      .site-wrapper
        .container
          .row.vertical-align
            .col-md
              %h1.display-4
                Get your life on track
              %p.lead
                With daily reminders, beautiful charts and insightful statistics,
                Loop Habit Tracker&trade; helps you create and maintain great habits to improve your
                life.

              .store-badges
                %a(href="#")
                  %img(src="images/google-play.png")
                %a(href="#")
                  %img(src="images/f-droid.png")
            .col-md
              .s2
                %img.screenshot(src="screenshots/uhabits1.png")
              .s1
                %img.screenshot(src="screenshots/uhabits4.png")

    .site-wrapper
      .section
        .feature-header
          %h1
            Features
          %p
            Magni et doloremque porro id vero dignissimos suscipit nihil.
            Neque optio nulla voluptatem repellendus ea laboriosam. Veniam
            qui voluptatum non repudiandae similique. Nulla aut asperiores
            et eos.
        .container
          .row
            .col-md
              .feature-box
                %img.screenshot(src="feature-banners/score.png")
                .inner-frame
                  %h1 Habit Score
                  In addition to showing your current streak, Loop has an advanced
                  formula for calculating the strength of your habits. Every
                  repetition makes your habit stronger. One missed day will
                  not destroy your entire progress.
            .col-md
              .feature-box
                %img.screenshot(src="feature-banners/charts.png")
                .inner-frame
                  %h1 Graphs and Statistics
                  Clearly see how your habits improved over time with beautiful
                  and detailed charts. Scroll back to see the complete history
                  of your habits.
            .col-md
              .feature-box
                %img.screenshot(src="feature-banners/night-mode.png")
                .inner-frame
                  %h1 Flexible schedules
                  Supports both daily habits and habits with more complex schedules, such as 3 times every week; one time every other week; or every other day.
          -# .row
          -#   .col-md
          -#     .feature-box
          -#       %h1 Daily Reminders
          -#       Create an individual reminder for each habit, at a chosen hour of the day. Easily check, dismiss or snooze your habit directly from the notification, without opening the app.
          -#   .col-md
          -#     .feature-box
          -#       %h1 Optimized for smartwatches
          -#       Reminders can be checked or dismissed directly from your Android Wear watch or Pebble.
          -#   .col-md
          -#     .feature-box
          -#       %h1 Completely ad-free and open source
          -#       There are absolutely no advertisements, annoying notifications or intrusive permissions in this app, and there will never be. The complete source code is available under the GPLv3.



    %script(type="text/javascript" src="lib/js/jquery.min.js")
    %script(type="text/javascript" src="lib/js/bootstrap.bundle.min.js")
