body
  font-family: 'Open Sans', sans-serif

a, a:hover
  text-decoration: none

.site-wrapper
  max-width: 1200px
  margin-left: auto
  margin-right: auto

.navbar
  box-shadow: rgba(0,0,0,0.4) 0px 0px 20px
  background-color: white !important

.jumbotron
  background: linear-gradient(rgba(216,27,96,0.1),rgba(216,27,96,0.9)), url("images/hero-background-filter.jpg")
  box-shadow: rgba(0,0,0,0.5) 0px 0px 20px

  h1
    max-width: 25rem
    font-weight: bold
    color: white

  p
    max-width: 40rem
    color: white

  .screenshot
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 20px
    padding: 0px 0px 0px 0px
    border-radius: 10px
    border: 0
    background-color: white
    max-width: 300px

  .store-badges
    margin: 2rem 1rem
    img
      opacity: 0.8
      height: 75px
    img:hover
      opacity: 1.0

.s1
  padding-bottom: 50px
  padding-left: 50px

.s2
  position: absolute
  top: 50px
  left: 175px


.align-right
  text-align: right

.vertical-align
  display: flex
  align-items: center
